@import "./[html-common]/style/fullpage/dialog-appInfo.css";
@import "./[html-common]/style/fullpage/ui-panel.css";
@import "./[html-common]/style/fullpage/panel-group.css";
@import "./page/main-ui.css";



:root {
	--project-colour: salmon;
}

html {
	--page-background-light: #fcfcfc;
	--page-background-dark: #111111;

	--silver: #bbbb;
	--teal: #088;		/* cartesian grid */

	--pink: #c7a;		/* polar grid new */
	--purple: #b0b;
	--fadedred: #f07;	/* point info */

	--transition-duration: 0.5s;

	--character-body: #0a07;
	--character-outline: #0a0f;

	--worm-body: darksalmon;
	--worm-outline: pink;


	--accent-colour: oklch(from var(--project-colour) 0.7 c h );
	accent-color: var(--accent-colour);

	margin:0px;
	padding:0px;

	body {
		margin:0px;
		padding:0px;
	}
	scrollbar-width: none;

	font-size: 16px; /* 14px; */
	font-family:'Noto sans', sans-serif;

	/*
	there are 5 extra pixels on the body height coming from somewhere...
	might be a line-box thing on the svg element
	*/
}

html[data-colourscheme="light"] {
	color-scheme: light;
	--accent-colour: oklch(from var(--project-colour) 0.7 c h );

	background-color: var(--page-background-light);
	color: black;

	form {
		background-color:#eee9;
		border-color: #bbbb;
	}
	.infoBox { background-color: #fffc; }
}

html[data-colourscheme="dark"] {
	color-scheme: dark;
	--accent-colour: oklch(from var(--project-colour) 0.9 c h );

	background-color: var(--page-background-dark);
	color: white;

	form {
		background-color:#7779;
		border-color: #9999;
	}
	.infoBox {
		background-color: #222c;
		border-color: #9999;
	}
}


@media (prefers-color-scheme:dark) {

}

@media (prefers-color-scheme:light) {

}

