@import "./[html-common]/style/emoji.css";
@import "./[html-common]/style/fullpage/dialog-appInfo.css";
@import "./[html-common]/style/fullpage/ui-panel.css";
@import "./[html-common]/style/fullpage/panel-group.css";
@import "./page/svg.css";
@import "./page/main-ui.css";



:root {
	--project-colour: salmon;
	--transition-duration: 0.5s;
}

html {

	--silver: #bbbb;
	--teal: #088;		/* cartesian grid */

	--pink: #c7a;		/* polar grid new */
	--purple: #b0b;
	--fadedred: #f07;	/* point info */

	--character-body: #0a07;
	--character-outline: #0a0f;
	--worm-body: darksalmon;
	--worm-outline: pink;


	--html-background: var(--scheme-colour);
	--default-panel-colour: var(--scheme-colour);
	--accent-colour: oklch(from var(--project-colour) 0.7 c h );

	background-color: var(--html-background);
	accent-color: var(--accent-colour);
	color: var(--text-colour);

	margin:0px;
	padding:0px;

	body {
		margin:0px;
		padding:0px;
	}
	scrollbar-width: none;

	font-size: 16px; /* 14px; */
	font-family:'Noto sans', sans-serif;

	/*
	there are 5 extra pixels on the body height coming from somewhere...
	might be a line-box thing on the svg element
	*/
}

html[data-colourscheme="light"] {
	color-scheme: light;
	--accent-colour: oklch(from var(--project-colour) 0.7 c h );
	--scheme-colour: hsl(from var(--project-colour) h s 95 );
	--text-colour: black;

}

html[data-colourscheme="dark"] {
	color-scheme: dark;
	--accent-colour: oklch(from var(--project-colour) 0.9 c h );
	--scheme-colour: hsl(from var(--project-colour) h s 05 );
	--text-colour: white;
}


@media (prefers-color-scheme:dark) {

}

@media (prefers-color-scheme:light) {

}

