


.emoji {
	font-size:1.2em;
}

#dialog-appInfo {
	&::backdrop {
		background-color: var(--character-body);
		background-image:  url('../favicon.svg');
	}
	h1::before { content: url("../favicon.svg"); }
}