

#character-instructions {
	display: grid;
}

#character-info {
	white-space: pre;
}


input[name=zoom] { width: 16ex;}


.infoBox {
	font-family: monospace;
	font-size: 1.6ex;
	padding:1ex;
	border:1px solid var(--silver);
}




#dialog-appInfo {
	&::backdrop {
		background-color: var(--character-body);
		background-image:  url('../favicon.svg');
	}
	h1::before { content: url("../favicon.svg"); }
}