

.control-group {

	&.control-left {
		position:absolute;
		left:0ex;
	}

	&.control-right {
		position:absolute;
		right:0ex;
	}

}






#character-instructions {
	display: grid;
}

#character-info {
	white-space: pre;
}


input[name=zoom] { width: 16ex;}


.infoBox {
	font-family: monospace;
	font-size: 1.6ex;
	padding:1ex;
	border:1px solid var(--silver);
}






/*
#dialog-appInfo {
	/* backdrop-filter: blur(20px); * /
	border-radius: 1em;
	padding:1em;
	border: 3px solid var(--accent-colour);
	opacity: 95%;
	box-shadow: 0px 0px 3em var(--accent-colour);


	dl {
		display: grid;
		grid-template-columns: 2fr 3fr ;
		margin:1em;
		font-size:1em;
	}
	dt {
		margin: 0em 1em;
		white-space: nowrap;
		font-family: monospace;
	}
	dd {
		margin: 0em 1em;
	}
	kbd {
		display:inline-block;
		border-radius: 1ex;
		border: 1px dotted grey;
		text-align:center;
		width:3ex;
	}


	&::backdrop {
		background-image:  url('./worm-icon.svg');
		backdrop-filter: blur(1pt) brightness(40%);
		background-position: center;
		background-repeat: repeat;

		background-size: 15vh;
		background-color: var(--character-body);
		opacity: 0.8;
	}


}

 */



